<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
  <div fxFlex="80%">
    <h2
      style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1;"
    >
      Ajouter un consultant
    </h2>
    <mat-divider></mat-divider>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex="60%">
        <form (ngSubmit)="add()" [formGroup]="consultantForm">
          <div style="display: flex;flex-direction: column">
            <input type="hidden" formControlName="_id" />
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="surname" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Prenom" formControlName="name" />
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
            <button
              type="submit"
              [disabled]="consultantForm.invalid"
              mat-raised-button
              color="primary"
            >
              {{ consultant == null ? "Ajouter" : "Editer" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
