<button routerLink="/home" routerLinkActive="active" mat-button>Accueil</button>
<button mat-button [matMenuTriggerFor]="menuConsultant">Consultants</button>
<mat-menu #menuConsultant="matMenu">
  <button routerLink="/consultants" routerLinkActive="active" mat-menu-item>Liste</button>
  <button mat-menu-item>Ajouter</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menuStartup">Startups</button>
<mat-menu #menuStartup="matMenu">
  <button routerLink="/startups" routerLinkActive="active" mat-menu-item>Liste</button>
  <button mat-menu-item>Ajouter</button>
</mat-menu>