<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex="80%">
    <div style="display: flex;flex-direction: row;justify-content: space-between">
      <h2
        style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1;"
      >
        Liste des Startups
      </h2>
      <button
        mat-raised-button
        color="primary"
        style="height : 40px;margin-top: auto;margin-bottom: auto"
        routerLink="/startup"
        routerLinkActive="active"
      >
        Nouveau
      </button>
    </div>
    <mat-divider></mat-divider>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="margin-top : 60px; width : 100%;"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let startup">{{ startup.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef>Secteur d'activité</th>
        <td mat-cell *matCellDef="let startup">{{ startup.activity }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="official">
        <th mat-header-cell *matHeaderCellDef>Représentant légal</th>
        <td mat-cell *matCellDef="let startup">{{ startup.official }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="nbCofounder">
        <th mat-header-cell *matHeaderCellDef>Co-fondateurs</th>
        <td mat-cell *matCellDef="let startup">{{ startup | cofounder }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let startup">{{ startup.description }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Adresse</th>
        <td mat-cell *matCellDef="let startup">{{ startup | address }}</td>
      </ng-container>

      <ng-container matColumnDef="consultant">
        <th mat-header-cell *matHeaderCellDef>Consultant</th>
        <td mat-cell *matCellDef="let startup">{{ startup.consultant.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let startup">
          <button
            mat-icon-button
            matTooltip="Editer"
            color="primary"
            routerLink="/startup/{{ startup._id }}"
            routerLinkActive="active"
          >
            <mat-icon arial-label="Edit">create</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="delete(startup._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
