<div class="container" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
  <div  fxLayoutAlign="center">
    <h1
    style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1;"
    >
      404
    </h1>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <p
    style="font-family: 'Helvetica Neue', sans-serif"
    >
      Erreur : La page recherchée n'existe pas !
    </p>
  </div>
  
</div>

