<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="80%">
    <div style="display: flex;flex-direction: row;justify-content: space-between">
      <h2 style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1;">
        Bienvenue sur In-Cub
      </h2>
    </div>
    <h3 style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1;">
      Startups :
    </h3>
    <div fxLayout="row">
      <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top : 40px; width : 100%;"
        *ngFor="let startup of startups | async | slice : 0 : 3">
        <mat-card class="startup-card" style="justify-content: space-between">
          <mat-card-header>
            <mat-card-title> {{ startup.name }} </mat-card-title>
            <mat-card-subtitle>{{ startup.activity }}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content style="margin-top: 10px">
            <p>
              {{ startup.description }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <h3 style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; margin-top: 50px">
      Consultant :
    </h3>
    <div fxLayout="row">
      <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top : 40px; width : 100%;"
        *ngFor="let consultant of consultants | async | slice : 0 : 3">
        <mat-card class="startup-card" style="justify-content: space-between">
          <mat-card-header>
            <mat-card-title> {{ consultant.surname }} </mat-card-title>
            <mat-card-subtitle>{{ consultant.name }}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content style="margin-top: 10px">
            <p> Info :
              {{ consultant.description }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>