<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="80%">
    <div style="display: flex;flex-direction: row;justify-content: space-between">
      <h2 style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1;">
        Bienvenue sur In-Cub
      </h2>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top : 60px; width : 100%;">
      <mat-card class="startup-card" style="justify-content: space-between">
        <mat-card-header>
          <mat-card-title>{{ startups[0].name }}</mat-card-title>
          <mat-card-subtitle>{{ startups[0].activity }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ startups[0].description }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="startup-card" style="justify-content: space-between">
        <mat-card-header>
          <mat-card-title>{{ startups[1].name }}</mat-card-title>
          <mat-card-subtitle>{{ startups[1].activity }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ startups[1].description }}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="startup-card" style="justify-content: space-between">
        <mat-card-header>
          <mat-card-title>{{ startups[2].name }}</mat-card-title>
          <mat-card-subtitle>{{ startups[2].activity }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ startups[2].description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="display: flex;flex-direction: row;justify-content: space-between">
      <mat-card class="consultant-card" style="justify-content: space-between">
        <mat-card-header>
          <mat-card-title>{{ consultants[0].surname }} {{ consultants[0].name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ consultants[0].description }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="consultant-card" style="justify-content: space-between">
        <mat-card-header>
          <mat-card-title>{{ consultants[1].surname }} {{ consultants[1].name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ consultants[1].description }}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="consultant-card" style="justify-content: space-between">
        <mat-card-header>
          <mat-card-title>{{ consultants[2].surname }} {{ consultants[2].name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ consultants[2].description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>